/* *{
  font-family: 'Roboto', sans-serif;;
}


.App {
  text-align: center;
} */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#root {
  display: flex;
  flex-direction: column;

  height: 100%;
}
/* form{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

#test {
  background-color: #2c2c2c70;
}
